
.content {
    margin-left: 50px;
    padding-top: 60px;
}


.save {
    float: right;
}

.buffet-form textarea, .buffet-form input {
    width: 100%;
}


.buffet {
    margin-bottom: 70px;
    padding-left: 20px;
}

.buffet h1 a, .buffet h1 a:visited {
    color: #000000;
}

.review {
    margin: 20px 0px 20px 20px;
}

.navbar-default .navbar-brand {
  color: #FFF;
  font-size: 22;
  font-family: 'Luckiest Guy', cursive;
}
.navbar-default .navbar-text {
  color: #FFF;
  font-size: 18;
  font-family: 'Luckiest Guy', cursive;
}
.navbar-default .navbar-nav > li > a {
  color: #FFF;
  font-size: 18;
  font-family: 'Luckiest Guy', cursive;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #B4C2D3;
  font-size: 22;
  font-family: 'Luckiest Guy', cursive;
}

.navbar-default .navbar-nav{
    margin-left: -60px;

}

.dropdown-menu {
    padding: 3px 20px;
}

.dropdown-menu.white {
    background-color: #FFF !important;
}

.navbar-toggle {
    color: #FFF
}

#welcome{
    font-size: 18;
    font-family: 'Passion One', cursive;
    color: white;

}

#buffetlist{
    font-size: 40;
    font-family: 'Shrikhand', cursive; 
    text-align: center;
    background-color: #B69E68;
    color: #7B4A1F;
}

#buffetname{

    font-size: 32;
    font-family: 'Lobster';
}

#buffetlocation {
    font-size: 26;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
}

#buffetaddress {
    font-size: 26;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
}

#buffetcontact {
    font-size: 26;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
}

#morebuffetinfo {
    font-size: 26;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
}

#pricetable{
    font-family: 'Fjalla One', sans-serif;
}

#buffetdescription{
    font-size: 25;
    font-family: 'Oleo Script', cursive;

}

#rating{

    font-size: 36;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
}

#reviewslink{
    font-size: 22;
    font-family: 'Luckiest Guy', cursive;
}

#brandlogo > a:hover{

    color: #B4C2D3;
}

#newbuffet{
    font-size: 32;
    font-family: 'Passion One', cursive;
}

#form{
    font-family: 'Fjalla One', sans-serif;
    font-size: 16;
}

#buffetdraft{
    font-size: 40;
    font-family: 'Passion One', cursive;
    text-align: center;
    background-color: #B69E68;
    color: #7B4A1F;
}

#buffetdraftcreateddate{
    font-family: 'Fjalla One', sans-serif;
    margin-top: 20px;
    margin-bottom: -10px;
}

#buffetdraftlink{
    font-family: 'Lobster';
    font-size: 24;
    margin-bottom: -10px;
}

#buffetdraftname{
    font-size: 32;
    font-family: 'Lobster';
    margin-top: 15px;
}

#loginheading{
    font-size: 32;
    font-family: 'Passion One', cursive;
}

#loginlabels{
    font-family: 'Fjalla One', sans-serif;
}

#createheading{
    font-size: 32;
    font-family: 'Passion One', cursive;
}

#createlabels{
    font-family: 'Fjalla One', sans-serif;
    font-size: 18;
}

#buffetsort{
    font-size: 28;
    font-family: 'Oswald', sans-serif;
}

#socialshare{
    font-family: 'Fjalla One', sans-serif;
    font-size: 14;
    margin-bottom: 50px;
}

#postfb{
    margin-top: -25px;
    margin-left: 40px;
    margin-bottom: 10px;
}

#posttw{
    margin-top: -25px;
    margin-left: 40px;
    margin-bottom: 10px;
}

#postgp{
    margin-top: -25px;
    margin-left: 40px;
    margin-bottom: 10px;
}

#promotionstitle{
    font-size: 40;
    font-family: 'Shrikhand', cursive; 
    text-align: center;
    background-color: #B69E68;
    color: #7B4A1F;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

#carousel-example-generic{
    /*width: 970px;
    height: 500px;*/
}