.page-header {
    position: fixed;
    width: 100%;
    background-color: #ff9400;
    margin-top: 0;
    z-index: 999;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 50px;
    padding-top: 60px;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.buffet-form textarea, .buffet-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 15pt;
    margin-right: 20px;
}

.center-menu, .center-menu:hover, .center-menu:visited, .center-menu a {
    color: #ffffff;
    margin: 0 auto;
    width: 100px;
    font-size: 15pt;
}

.buffet {
    margin-bottom: 70px;
    border-radius: 8px;
    border: solid 1px #d0d0d0;
    padding-left: 20px;
}

.buffet h1 a, .buffet h1 a:visited {
    color: #000000;
}

.review {
    margin: 20px 0px 20px 20px;
}

.navbar-default .navbar-brand {
  color: #FFF;
}
.navbar-default .navbar-text {
  color: #FFF;
}
.navbar-default .navbar-nav > li > a {
  color: #FFF;
}

.dropdown-menu {
    padding: 3px 20px;
}

.navbar-toggle {
    color: #FFF
}