{% load staticfiles %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Buffeter</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
        <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/buffetinfo.css' %}">
        {{ form.media }}
    </head>
    <body>
        <div class="page-header">
            <div class="center-menu">
                <a href="/">Buffeter</a>
            </div>
        </div>

         <div class="content">
            <div class="row">
                <div class="col-md-11">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>