{% load staticfiles %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Buffeter</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
        <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
        <link href =" {% static 'bootstrap/css/jasny-bootstrap.css' %}" rel="stylesheet" type="text/css"/>
        <script src="{% static 'bootstrap/js/jasny-bootstrap.js' %}"></script>
        <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/buffetinfo.css' %}">
        {{ form.media }}

        <script>
        function process_search() {
            var url = "/buffet/search/" + document.getElementById("url").value;
            location.href = url;
            return false;
        }
        </script>

        {% block head %}
        {% endblock %}
    </head>
    <body>

<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #5D8AA8;">
<div class="container">
<div class="row">
   <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-sm-2">
        

        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-search-top-collapse">
            <i class="glyphicon glyphicon-search"></i>
        </button>

        {% if user.is_authenticated %}

        <a class="navbar-toggle" href="{% url 'logout' %}" role="button"> <i class="glyphicon glyphicon-log-out"></i></a>
        <a class="navbar-toggle" href="{% url 'buffet_draft_list' %}" role="button"> <i class="glyphicon glyphicon-edit"></i></a>
        <a class="navbar-toggle" href="{% url 'buffet_new' %}" role="button"> <i class="glyphicon glyphicon-plus"></i></a>
        {% else %}
        <a class="navbar-toggle" href="{% url 'login' %}" role="button"> <i class="glyphicon glyphicon-log-in"></i></a>
        <a class="navbar-toggle" href="{% url 'account_new' %}" role="button"> <i class="glyphicon glyphicon-user"></i></a>
        {% endif %}

        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-top-menu-collapse">
            <i class="glyphicon glyphicon-list"></i>
        </button>
        <a class="navbar-brand" href="/">Buffeter</a>
    </div>
    <div class="collapse navbar-collapse navbar-top-menu-collapse col-sm-8">
    <ul class="nav navbar-nav">

        <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Buffets <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <h2> Sort by: </h2>
                <h2>Filter by: </h2>
    <form method="POST" class="post-form">{%csrf_token %}
        {{ form.as_p}}
        <!-- <button type="submit" class="save btn" btn-default> Filter now!</button> -->
    </form>
                <li class="divider"></li>
                <li><a href="./bbs/board.php?bo_table=apache_tips">Promotions</a></li>
            </ul>
        </li>
    </ul>
    </div>

    <div class="collapse navbar-collapse navbar-top-member-collapse col-sm-8">
    <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
        <li><a href="{% url 'buffet_new' %}"> Add new buffet</a></li>
        <li><a href="{% url 'buffet_draft_list' %}"> Buffet draft list</a></li>
        <li> <a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li> <a href="{% url 'login' %}">Login</a></li>
        <li> <a href="{% url 'account_new' %}">Create new account</a></li>
        {% endif %}
        
    </ul>
    </div>

    <div class="col-sm-3 pull-right">
    <form class="navbar-form collapse navbar-collapse navbar-search-top-collapse" role="search" onsubmit="return process_search();" method="get">
    <div class="input-group">
        <input name="url" class="form-control"  id="url" maxlength="20" placeholder="Search for buffets" value="" type="text">
        <div class="input-group-btn">
            <button class="btn" type="submit">Search <i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
    </form>
    </div>

</div>

</div>
</nav>
    <div class="content">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>