{% extends 'buffetinfo/base.html' %}

{% block content %}
    <div class="buffet">
        <div class="date">
            <p> Created: {{ buffet.created_date }} </p>
            {% if buffet.published_date %}
             <p> Published: {{ buffet.published_date }} </p>
            {% else %}
                <a class="btn btn-default" href="{% url 'buffetinfo.views.buffet_publish' pk=buffet.pk %}">Publish</a>
            {% endif %}
        </div>

        {% if user.is_authenticated %}
        	<a class="btn btn-default" href="{% url 'buffet_edit' pk=buffet.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        	<a class="btn btn-default" href="{% url 'buffet_remove' pk=buffet.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
       	{% endif %}
        <h1>{{ buffet.name }}</h1>
        <h3>Cuisine Type: {{ buffet.cuisine_type}}</h3>
        <h3> Location: {{ buffet.location }} </h3>
        <p> Address: {{ buffet.address }} </p>
        <h3> Opening hours: {{ buffet.hrs_opening }} </h3>
        <h3> Closing hours: {{ buffet.hrs_closing }} </h3>
        <h3> Contact Number: {{ buffet.phone_number }} </h3>
        <div class = "price">
            <p> Adult price range: {{ buffet.price }} </p>
            <p> Child price range: {{ buffet.child_price|default_if_none:"No child price!" }} </p>
        </div>
        <p>{{  buffet.desc|linebreaksbr }}</p>
    </div>

    <hr>
    <h2> Reviews </h2>
    {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'add_review_to_buffet' pk=buffet.pk %}">Add Review</a>
    {% endif %}
    {% for review in buffet.reviews.all %}
        {% if user.is_authenticated or review.approved_review %}
            <div class="review">
                <div class="date">
                    {{ review.created_date }}
                </div>
                <strong>{{ review.author }}</strong>
                {% if not review.approved_review and user.is_authenticated %}
                    <p> Not approved yet </p>
                    <a class="btn btn-default" href="{% url 'review_remove' pk=review.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                    <a class="btn btn-default" href="{% url 'review_approve' pk=review.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                {% endif %}

                <p>{{ review.comment|linebreaks }}</p>
                <p> Rating: {{ review.rating }} </p>
            </div>
            {% endif %}
    {% empty %}
        <p>No reviews yet :(</p>
    {% endfor %}
{% endblock %}