
{% extends 'buffetinfo/base.html' %}

{% block content %}
	<h1>Filter: </h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <!--- <button type="submit" class="save btn btn-default">Filter now!</button> -->
    </form>

    {% for buffet in buffets %}
        <div class = "buffet">
        	<div class = "container">
        		<div class = "row">
		    		<div class = "col-sm-5">
		            <h1><a href="{% url 'buffet_detail' pk=buffet.pk %}">{{ buffet.name }}</a></h1>
		            <h3>Cuisine Type: {{ buffet.cuisine_type}}</h3>
		            <h3> Location: {{ buffet.location }} </h3>
		            <h3> Opening hours: {{ buffet.hrs_opening }} </h3>
		            <h3> Closing hours: {{ buffet.hrs_closing }} </h3>
		            <h3> Contact Number: {{ buffet.phone_number }} </h3>
		            <div class = "price">
		        		<p> Adult price range: {{ buffet.price }} </p>
		        		<p> Child price range: {{ buffet.child_price|default_if_none:"No child price!" }} </p>
		    		</div>
		            <p>{{ buffet.desc|linebreaksbr }}</p>

		            <div class = "date">
		                <p>published: {{ buffet.published_date }} </p>
		                <p> created: {{ buffet.created_date }} </p>
		            </div>

		            <br>
		            <a href="{% url 'buffetinfo.views.buffet_detail' pk=buffet.pk %}">Reviews: {{ buffet.approved_reviews.count }}</a>
		            </div>
		            
		            <div class = "col-sm-7">
		            	<h2> Rating: {{ buffet.average_rating }}/5 </h2>
		            </div>
	        </div>
	    </div>
	 </div>
    {% endfor %}
{% endblock %}