{% extends 'buffetinfo/base.html' %}


{% block content %}

<h1> Promotions </h1>

<hr>

<h2> 1) I'm KIM Korean BBQ </h2>

<h3>Mon-Thurs Buffet Dinner: $21.9++ (UP: $23.9++)
<br>Sat-Sun/ PH Buffet Lunch: $21.9++ (UP: $23.9++)
<br>*Minimum 4 pax to get the promo
</h3>

<h4>LIKE &amp SHARE I'm KIM Korean BBQ's Facebook page, and PRESENT it at the cashier to get the above special rate! (T &amp C apply - scroll to bottom) </h4>

<h5>There are 40+ varieties of fresh meat, veggies, drinks & korean delicacies for weekday lunch and 50+ choices (including seafood) for dinner and weekend dining!
<br><br>
Hurry make your reservations at 6238 7218 now! :) Find us at School of the Arts, #01-04 (5 mins from Dhoby Ghaut MRT - Beside the Cathay).
<br><br>
Psst: GoroGoro Steamboat & Korean Buffet is also having special promo for Facebook fans from Aug-Sept 2016! Do check them out if you are craving for pipin' hot steamboat and korean feast! 
</h5>

<h6>T &amp C
<br>- ALL guests must LIKE &amp SHARE our Facebook page and PRESENT it at cashier to enjoy this special Facebook promo.
<br>- Guests who prefer not to LIKE &amp SHARE would have to pay the regular price.
<br>- Mon-Thurs Dinner promo not valid on PH Eve or PH.
<br>- Minimum 4 pax to dine – to get this promo.
<br>- 3 pax &amp below: 90mins dining time. 4 pax &amp above: 120mins dining time.
<br>- Valid from 1-31 Aug 2016.
<br>- Not applicable with other promos, discounts &amp privileges.
</h6>
<br>
<h2> 2) Goro Goro Steamboat & Korean Buffet</h2>

<h3>Mon-Fri Buffet Lunch: $13.9++ (UP: $16.9++)
<br>Sat-Sun/ PH Buffet Lunch: $23.9++ (UP: $25.9++)
<br>Mon Buffet Dinner: $21.9++ (UP: $25.9++)
<br>Tue-Thurs Buffet Dinner: $23.9++ (UP: $25.9++)
<br>Fri-Sun/ Eve/ PH Buffet Dinner: $25.9++ (UP: $27.9++)
<br>*Minimum 4 pax to get the promo. </h3>

<h4>LIKE &amp SHARE Goro Goro Steamboat & Korean Buffet Facebook page, and PRESENT it at the cashier to get the above special rate! (T&ampC apply - scroll to bottom)</h4>

<h5>Choose 2 out of 6 bubbling soup bases - Imperial Herbal Wine (New addition to the family - MUST TRY!), Mala, Beauty collagen, Ginseng chicken, Tomyam & Vege. Feel free to top up $5++ per table to get an additional soup!
<br><br>
There is 50+ varieties of fresh meat, veggies, drinks & korean delicacies for weekday lunch and up to 70 choices for dinner and weekend dining!
<br><br>
Hurry make your reservations at 6385 7854 now! :) Find them at Orchardgateway@emerald, #04-01 (Opposite 313@Somerset - Take the lift beside Crate & Barrel).</h5>

<h6>
T & C
<br>- ALL guests must LIKE & SHARE our Facebook page and PRESENT it at cashier to enjoy this special Facebook promo.
<br>- Guests who prefer not to LIKE & SHARE would have to pay the regular price.
<br>- Mon-Fri Lunch promo not valid on PH.
<br>- Mon-Thurs Dinner promo not valid on PH Eve or PH.
<br>- Minimum 4 pax to dine – to get this promo.
<br>- Weekday Lunch: 90mins dining time.
<br>- Dinner & Weekend Lunch: 3 pax & below: 90mins; 4 pax & above: 120mins dining time.
<br>- Valid from 1 Aug - 30 Sept 2016.
<br>- Not applicable with other promos, discounts & privileges.
</h6>

{% endblock %}