{% extends 'buffetinfo/base.html' %}

<link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Fjalla+One|Josefin+Slab|Lalezar|Luckiest+Guy|Oleo+Script|Oswald|Passion+One|Shrikhand|Sigmar+One" rel="stylesheet">

{% block content %}
<div id = "buffetdraft">
	<p> Buffet Recommendation Drafts </p>
</div>
    {% for buffet in buffets %}
        <div class="buffet">
        	<div id = "buffetdraftcreateddate">
            	<p class="date">Created: {{ buffet.created_date|date:'d-m-Y' }}</p>
            </div>
            <div id = "buffetdraftlink">
            	<p>Name: <a href="{% url 'buffetinfo.views.buffet_detail' pk=buffet.pk %}">{{ buffet.name }}</a></p>
            </div>
            <p>{{ buffet.desc|truncatechars:200 }}...</p>
        </div>
    {% endfor %}
{% endblock %}