{% extends 'buffetinfo/base.html' %}

<link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Fjalla+One|Josefin+Slab|Lalezar|Luckiest+Guy|Oleo+Script|Oswald|Passion+One|Shrikhand|Sigmar+One" rel="stylesheet">

{% block content %}
    <div class = "buffet">
        <div class = "row">
            <div class = "col-sm-9">
                <div class="date">
                    <p> Created: {{ buffet.created_date }} </p>
                    {% if buffet.published_date %}
                     <p> Published: {{ buffet.published_date }} </p>
                    {% else %}
                        <a class="btn btn-default" href="{% url 'buffetinfo.views.buffet_publish' pk=buffet.pk %}">Publish</a>
                    {% endif %}
                </div>

                {% if user.is_authenticated %}
                	<a class="btn btn-default" href="{% url 'buffet_edit' pk=buffet.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                	<a class="btn btn-default" href="{% url 'buffet_remove' pk=buffet.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
               	{% endif %}
                <div id = "buffetdraftname">
                    <p>{{ buffet.name }}</p>
                </div>
                <div id = "morebuffetinfo">
                    <p>Cuisine Type: {{ buffet.cuisine_type}}</p>
                    <p> Location: {{ buffet.location }} </p>
                    <p> Address: {{ buffet.address }} </p>
                    <p> Opening hours: {{ buffet.hrs_opening }} to {{ buffet.hrs_closing }} </p>
                    <p> Contact Number: {{ buffet.phone_number }}</p>
                </div>
                
                <div class = "price">

                    <style type="text/css">
                    .tg  {border-collapse:collapse;border-spacing:0;}
                    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
                    .tg .tg-yw4l{vertical-align:top}
                    </style>
                    <div id = "pricetable">
                        <table class="table table-striped">
                        <tr>
                            <th class="tg-yw4l" rowspan="2">Prices</th>
                            <th class="tg-yw4l" colspan="2">Weekday</th>
                            <th class="tg-yw4l" colspan="2">Weekend</th>
                        </tr>
                        <tr>
                            <td class="tg-yw4l">Adult</td>
                            <td class="tg-yw4l">Child</td>
                            <td class="tg-yw4l">Adult</td>
                            <td class="tg-yw4l">Child</td>
                        </tr>
                        <tr>
                            <td class="tg-yw4l">Breakfast</td>
                            <td class="tg-yw4l">{{ buffet.weekday_adult_breakfast_price|default_if_none:"Not available" }}</td>
                            <td class="tg-yw4l">{{ buffet.weekday_child_breakfast_price|default_if_none:"Not available" }}</td>
                            <td class="tg-yw4l">{{ buffet.weekend_adult_breakfast_price|default_if_none:"Not available" }}</td>
                            <td class="tg-yw4l">{{ buffet.weekend_child_breakfast_price|default_if_none:"Not available" }}</td>
                        </tr>
                        <tr>
                            <td class="tg-yw4l">Lunch</td>
                            <td class="tg-yw4l">{{ buffet.weekday_adult_lunch_price }}</td>
                            <td class="tg-yw4l">{{ buffet.weekday_child_lunch_price|default_if_none:"Not available" }}</td>
                            <td class="tg-yw4l">{{ buffet.weekend_adult_lunch_price }}</td>
                            <td class="tg-yw4l">{{ buffet.weekend_child_lunch_price|default_if_none:"Not available" }}</td>
                        </tr>
                        <tr>
                            <td class="tg-yw4l">High Tea</td>
                            <td class="tg-yw4l">{{ buffet.weekday_adult_hightea_price|default_if_none:"Not available" }}</td>
                            <td class="tg-yw4l">{{ buffet.weekday_child_hightea_price|default_if_none:"Not available" }}</td>
                            <td class="tg-yw4l">{{ buffet.weekend_adult_hightea_price|default_if_none:"Not available" }}</td>
                            <td class="tg-yw4l">{{ buffet.weekend_child_hightea_price|default_if_none:"Not available" }}</td>
                        </tr>
                        <tr>
                            <td class="tg-yw4l">Dinner</td>
                            <td class="tg-yw4l">{{ buffet.weekday_adult_dinner_price }}</td>
                            <td class="tg-yw4l">{{ buffet.weekday_child_dinner_price|default_if_none:"Not available"  }}</td>
                            <td class="tg-yw4l">{{ buffet.weekend_adult_dinner_price }}</td>
                            <td class="tg-yw4l">{{ buffet.weekend_child_dinner_price|default_if_none:"Not available"  }}</td>
                        </tr>
                    </table>
                    
                
                </div>
                <div id = "buffetdescription">
                    <p>{{  buffet.desc|linebreaksbr }}</p>
                </div>

            {% load social_share %}

            <div id = "socialshare">
            <img src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-facebook-circle-128.png" alt=""style="width:32px;height:32px;"> 

                <div id = "postfb">
                    {% post_to_facebook buffet "Share on Facebook!" %}
                </div>
            <img src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-twitter-circle-128.png" alt=""style="width:32px;height:32px;">
                <div id = "posttw">
                    {% post_to_twitter "I love {{buffet.name}}'s buffet. Check it out!" buffet "Share on Twitter" %}
                </div>
            <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-google-plus-128.png" alt=""style="width:32px;height:32px;">
                <div id = "postgp">
                
                    {% post_to_gplus buffet "Share on Google+!" %}
                </div>

            </div>

            </div>
            <div class = "col-sm-3">
                        <div id = "rating"><p> Rating: {{ buffet.average_rating }}/5 </p></div>
                            <p>
                                {% if buffet.number_of_stars == "0" %}
                                <span class="glyphicon glyphicon-star-empty"></span>
                                {% else %}
                                <span class="glyphicon glyphicon-star"></span>
                                {% endif %}

                                {% if buffet.number_of_stars == "0" or buffet.number_of_stars == "1" %}
                                <span class="glyphicon glyphicon-star-empty"></span>
                                {% else %}
                                <span class="glyphicon glyphicon-star"></span>
                                {% endif %}

                                {% if buffet.number_of_stars == "0" or buffet.number_of_stars == "1" or buffet.number_of_stars == "2" %}
                                <span class="glyphicon glyphicon-star-empty"></span>
                                {% else %}
                                <span class="glyphicon glyphicon-star"></span>
                                {% endif %}

                                {% if buffet.number_of_stars == "0" or buffet.number_of_stars == "1" or buffet.number_of_stars == "2" or buffet.number_of_stars == "3" %}
                                <span class="glyphicon glyphicon-star-empty"></span>
                                {% else %}
                                <span class="glyphicon glyphicon-star"></span>
                                {% endif %}

                                {% if buffet.number_of_stars == "0" or buffet.number_of_stars == "1" or buffet.number_of_stars == "2" or buffet.number_of_stars == "3" or buffet.number_of_stars == "4" %}
                                <span class="glyphicon glyphicon-star-empty"></span>
                                {% else %}
                                <span class="glyphicon glyphicon-star"></span>
                                {% endif %}
                                
                            </p>
                    </div>
        </div>
    </div>

{% if buffet.published_date %}
    <hr>
    <h2> Reviews </h2>
    {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'add_review_to_buffet' pk=buffet.pk %}">Add Review</a>
    {% endif %}
    {% for review in buffet.reviews.all %}
        {% if user.is_staff or review.approved_review %}
            <div class="review">
                {% if not review.approved_review and user.is_staff %}
                    <p> Not approved yet </p>
                    <a class="btn btn-default" href="{% url 'review_remove' pk=review.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                    <a class="btn btn-default" href="{% url 'review_approve' pk=review.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                {% endif %}

                <div class="date">
                    {{ review.created_date }}
                </div>

                {% for image in review.images.all %}
                
                {% if image.image %}
                    <a href = "{{ image.image.url }}"> <img src="{{ image.image.url }}" height="200"> </a>
                {% endif %}

                {% endfor %}

                <p><strong>{{ review.author }}</strong></p>
                

                <p>{{ review.comment|linebreaks }}</p>
                <p> Rating: {{ review.rating }} </p>
                <p>     
                        {% if review.rating == 0 %}
                        <span class="glyphicon glyphicon-star-empty"></span>
                        {% else %}
                        <span class="glyphicon glyphicon-star"></span>
                        {% endif %}

                        {% if review.rating == 0 or review.rating == 1 %}
                        <span class="glyphicon glyphicon-star-empty"></span>
                        {% else %}
                        <span class="glyphicon glyphicon-star"></span>
                        {% endif %}

                        {% if review.rating == 0 or review.rating == 1 or review.rating == 2 %}
                        <span class="glyphicon glyphicon-star-empty"></span>
                        {% else %}
                        <span class="glyphicon glyphicon-star"></span>
                        {% endif %}

                        {% if review.rating == 0 or review.rating == 1 or review.rating == 2 or review.rating == 3 %}
                        <span class="glyphicon glyphicon-star-empty"></span>
                        {% else %}
                        <span class="glyphicon glyphicon-star"></span>
                        {% endif %}

                        {% if review.rating == 0 or review.rating == 1 or review.rating == 2 or review.rating == 3 or review.rating == 4 %}
                        <span class="glyphicon glyphicon-star-empty"></span>
                        {% else %}
                        <span class="glyphicon glyphicon-star"></span>
                        {% endif %}
                </p>
            </div>
            {% endif %}
    {% empty %}
        <p>No reviews yet :(</p>
    {% endfor %}
{% endif %}
{% endblock %}